<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Test <%= class_name %></title>

    <meta name="description" content="<%= class_name %>"/>
    <meta name="keywords" content="<%= class_name %>"/>

    <link rel="stylesheet" href="/ria/src/app/themes/tundra/test.css" type="text/css" />
    <script type="text/javascript" src="/ria/src/app/pages/test.js"></script>
    <link rel="stylesheet" href="/ria/src/app/themes/tundra/chart.css" type="text/css" />
    <script type="text/javascript" src="/ria/src/app/tests/views/common.js"></script>
    <link rel="stylesheet" href="/ria/src/app/tests/views/common.css" type="text/css" />

    <link rel="stylesheet" href="<%= css_path %>" type="text/css" />
    <script src="<%= class_name %>.js"></script>
  </head>
  <body class='tundra'>
    <div dojoType="<%= full_name %>" jsId="<%= class_name.downcase %>"></div>
  </body>
</html>
